p,
a,
h1,
h2,
h3,
h4,
h5,
span,
li,
tr {
  color: #cdd6f4;
}

#top {
  background-color: #1e1e2e;
}

.post-entry {
  background-color: #313244;
}

.page-header {
  text-transform: lowercase;
}

li::marker {
  color: #cba6f7;
}

/* START hamburger menu */

#menu-trigger {
  display: none;
}

.menu {
  display: flex;
  margin: auto var(--gap);
  list-style: none;
  word-break: keep-all;
  overflow-x: auto;
  white-space: nowrap;
}

.menu li + li {
  margin-inline-start: var(--gap);
}

.menu a {
  font-size: 16px;
}

.menu .active {
  font-weight: 500;
  border-bottom: 2px solid currentColor;
}

@media screen and (max-width: 768px) {
  .menu {
    list-style: none;
    position: absolute;
    right: 0;
    z-index: 5;
    margin-bottom: var(--gap);
    padding: var(--gap);
    background: #1e1e2e;
    border-radius: var(--radius);
    border: 2px solid var(--tertiary);
    line-height: 2.5;
    margin: calc(var(--header-height) - var(--gap)) var(--gap);
    display: block;
  }

  .list .menu {
    background: #1e1e2e;
  }

  .menu li + li {
    margin-inline-start: 0;
  }

  #menu-trigger {
    font-size: 30px;
    position: relative;
    display: block;
    float: right;
    margin: auto var(--gap);
  }

  .menu.hidden {
    display: none;
  }
}

/* END hamburger menu */
