p,
a,
h1,
h2,
h3,
h4,
h5,
span,
li {
  color: #cdd6f4;
}

#top {
  background-color: #1e1e2e;
}

.post-entry {
  background-color: #313244;
}

.page-header {
  text-transform: lowercase;
}

li::marker {
  color: #cba6f7;
}

.post-tags.li {
  background-color: #313244;
}
